@font-face {
  font-family: "Jakarta";
  src: url(../public/fonts/PlusJakartaSans-Regular.ttf);
}

:root {
  --main-color: white;
  --second-color: #f0f8ff;
  --third-color: rgb(211, 211, 211);
  --link-color: #394e61;
  --button-color: #007dff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Jakarta";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
