/* ADVERTISE */
.advertise {
  background-color: var(--second-color);
  height: 700px;
  display: flex;
  width: 100vw;
  flex-direction: row;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}

.advertiseData {
  margin-left: 5vw;
  width: 45vw;
  background-image: url("../public/images/comparativo_img_CTA.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.advertiseDemo {
  margin-right: 5vw;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advertiseDemo h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

.advertiseDemo p {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 10px;
  box-sizing: border-box;
}

.advertiseDemoTop {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 80%;
  align-self: center;
}

.advertiseDemoBottom {
  border-top: 2px solid var(--third-color);
  padding-top: 20px;
  box-sizing: border-box;
  width: 80%;
  align-self: center;
}

.advertiseDemoBottom > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  height: 70px;
}

.advertiseDemoBottom > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
  justify-content: flex-start;
}

.advertiseDemoBottom > div:nth-child(2) p {
  font-size:medium;
  align-self: center;
  padding: 0;
}

.advertiseDemoBottom > div:nth-child(2) > img{
  margin: 0 5px;
  box-sizing: border-box;
}

.advertiseButton {
  width: 40%;
  border-radius: 35px;
  background-color: var(--button-color);
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.1rem;
  border-color: transparent;
  cursor: "pointer";
}

.advertiseRDStation {
  background-image: url("../public/images/selo_RD.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
}

/* FOOTER */
.footer {
  background-color: var(--main-color);
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerBrand {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footerLogo {
  align-self: center;
  margin-top: 50px;

  box-sizing: border-box;
}

.footerSlogan {
  font-size: medium;
  align-self: center;
  margin-top: 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.footerLinks {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 70vw;
  align-self: center;
  margin-top: 25px;
  box-sizing: border-box;
  justify-content: space-between;
}

.footerLinksBlock > h5 {
  font-size: large;
  padding: 10px 0 20px 0;
  box-sizing: border-box;
  font-weight: 700;
}

.footerLinksBlock > ul {
  list-style: none;
}

.footerLinksBlock > ul > li {
  font-size: medium;
  padding: 20px 0 0 0;
  box-sizing: border-box;
  color: var(--link-color);
  font-weight: 500;
}

.footerBar {
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--second-color);
}

.footerBar > ul {
  height: 100px;
  width: 70vw;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footerBar > ul > li {
  font-size: smaller;
  font-weight: 500;
  color: var(--link-color);
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
